@charset "UTF-8";
#profile {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9bdcbf+0,60abf8+61,4a9ad1+100 */
  background: #9bdcbf;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #9bdcbf 0%, #60abf8 61%, #4a9ad1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bdcbf', endColorstr='#4a9ad1',GradientType=1 );
  /* IE6-9 */ }

.icon {
  width: 35px;
  height: 35px; }

.icon__check {
  background-image: url("../img/icons8-checked-96.png");
  background-size: cover; }

.icon__box {
  display: block;
  background-color: #ccc;
  background-image: url("../img/cardboard-box-filled-32.png");
  background-size: cover; }

.icon__truck {
  display: block;
  background-color: #ccc;
  background-image: url("../img/truck-filled-32.png");
  background-size: cover; }

.icon__male {
  display: block;
  background-color: #ccc;
  background-image: url("../img/user-male-filled-32.png");
  background-size: cover; }

.btn:disabled {
  opacity: 0.3; }

.icon-btn {
  width: 42px;
  height: 42px;
  border: none;
  margin-left: 5px;
  cursor: pointer; }

.icon-btn:disabled {
  opacity: 0.3; }

.icon-btn__check--green {
  background-image: url("../img/icons8-checked-96.png");
  background-size: cover; }

.icon-btn__check--white {
  background-image: url(../img/icons8-checked-48.png);
  background-size: cover; }

.icon-btn__add {
  background-image: url(../img/plus-math-50.png);
  background-size: cover; }

.icon-btn__edit {
  background-image: url(../img/icons8-edit-50.png);
  background-size: cover; }

.icon-btn__edit--black {
  background-image: url(../img/edit.png);
  background-size: cover;
  height: 28px;
  width: 28px; }

.icon-btn__delete {
  background-image: url(../img/trash-100.png);
  background-size: cover; }

.icon-btn__delete--red {
  background-image: url(../img/trash-red.png);
  background-color: #fff;
  background-size: cover; }

.icon-btn__settings {
  background-image: url(../img/menu_s.png);
  background-size: cover; }

.icon-btn__go {
  background-image: url(../img/arrow-right.png);
  background-size: cover; }

.icon-btn__goods-left {
  background-image: url(../img/goods-left.png);
  background-size: cover;
  background-color: #fff; }

.icon-btn__rgb {
  background-image: url(../img/rgb-circle-1-50.png);
  background-size: cover; }

.icon-btn__set-password {
  background-image: url(../img/icons8-set-password.png);
  background-size: cover; }

.icon-btn__lock-user {
  background-image: url(../img/icons8-lock-user.png);
  background-size: cover; }

.icon-btn__return {
  background-image: url(../img/icons8-left-100.png);
  background-size: cover;
  margin-right: 5px; }

.icon-btn__copy {
  background-image: url(../img/copy_dubl-50.png);
  background-size: cover;
  background-color: darkcyan;
  margin-right: 5px; }

.icon-btn__copy:hover {
  background-color: darkgreen; }

.icon-btn__view {
  background-image: url(../img/select-all-100.png);
  background-size: cover;
  background-color: mediumpurple;
  margin-right: 5px; }

.icon-btn__delivery {
  background-image: url(../img/suppliers.png);
  background-size: cover;
  background-color: transparent;
  margin-right: 5px; }

.icon-btn__pdf {
  background-image: url(../img/pdf.png);
  background-size: cover;
  background-color: transparent;
  margin-right: 5px; }

.icon-btn__excel {
  background-image: url(../img/excel.png);
  background-size: cover;
  background-color: transparent;
  margin-right: 5px; }

.icon-btn__view-tiles {
  background-image: url(../img/collage-96-3x.png);
  background-size: cover;
  background-color: plum;
  margin-right: 5px; }

.icon-btn__view:hover {
  background-color: purple; }

.icon-btn__sort {
  background-image: url(../img/sort-down-100.png);
  background-size: cover;
  background-color: sandybrown;
  margin-right: 5px; }

.icon-btn__sort:hover {
  background-color: darksalmon; }

.reference-header {
  margin-bottom: 15px; }

.reference-header img {
  width: 44px;
  height: 44px; }

.reference-header h2 {
  margin-left: 5px; }

.reference-string {
  min-height: 35px;
  border: 1px solid #ccc;
  margin-bottom: -1px; }

.reference-string {
  height: 44px; }

.reference-string:hover {
  background-color: #ccc; }

.reference-row-number {
  display: inline-block;
  width: 25px;
  text-align: right;
  margin-right: 5px;
  font-weight: bold; }

.enterprise-card-block {
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 55px; }

#list-contractors-card > h3 {
  margin-left: 54px; }

.negative-switch {
  width: 20px;
  height: 20px;
  margin-left: 10px; }

.keywords-card-select-color-container div {
  display: flex;
  justify-content: space-between;
  margin: 5px; }

.keywords-card-select-color {
  width: 40px;
  height: 40px;
  border-radius: 8px; }

.keyword {
  display: inline-block;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  opacity: 1; }

.keyword__mute {
  opacity: 0.4; }

.keyword__small {
  font-size: 12px;
  cursor: default; }

#list-search-card-body-checked-keywords {
  margin: 20px 60px;
  padding: 10px; }

.goods-card-name {
  width: 100%; }

.goods-card-string {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }

.goods-card-first-row {
  width: 40%; }

.goods-card-first-row input {
  margin-bottom: 2px;
  text-align: right; }

.goods-card-second-row {
  width: 55%; }

.goods-card-second-row textarea {
  height: 100px;
  resize: none; }

.goods-card-second-row select {
  display: block;
  width: 100%; }

.goods-card-img {
  position: relative;
  border: 1px solid black;
  width: 305px;
  height: 305px;
  margin-right: 15px;
  line-height: 300px;
  text-align: center; }

.price-total {
  display: flex;
  justify-content: space-between; }

.goods-card-img img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%; }

.goods-card-img label {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0; }

.goods-card-btns-container {
  display: flex;
  justify-content: space-between; }

.goods-card-btns-container > button {
  width: 200px; }

input[name="express-purchase-radio"],
input[name="express-sell-radio"] {
  display: none; }

input[name="express-purchase-radio"]:checked + label,
input[name="stock"]:checked + label,
input[name="express-sell-radio"]:checked + label {
  background-color: #eee; }

.express-container button {
  margin: 0; }

.express-container span {
  display: inline-block;
  width: 80px; }

.express-container div {
  margin-bottom: 5px; }

.express-container.express-container__muted {
  opacity: 0.3; }

.goods-tile {
  display: flex;
  flex-wrap: wrap; }

.goods-tile-card {
  width: 70px;
  height: 70px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 10px; }

.goods-tile-card img {
  border-radius: 10px;
  object-fit: cover;
  margin: 0;
  width: 68px;
  height: 68px; }

.goods-tile-title {
  position: absolute;
  font-size: 10px;
  bottom: 0;
  right: 0;
  padding: 0;
  text-align: center;
  width: 50px;
  height: 15px;
  background-color: aliceblue;
  opacity: 0.8;
  border-radius: 10px; }

.goods-string {
  display: flex;
  justify-content: space-between;
  min-height: 35px;
  border: 1px solid #ccc;
  margin-bottom: -1px; }

.goods-string:hover {
  background-color: #ccc; }

.catalog-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px; }

.catalog-header img {
  width: 44px;
  height: 44px; }

.catalog-header h2 {
  margin-left: 5px; }

.catalog-header-title {
  display: flex; }

.catalog-header-buttons {
  display: flex; }

.informaion-light {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  top: 20px;
  left: 20px;
  width: 360px;
  height: 50px;
  z-index: 9999; }

.informaion-light p {
  margin: 0; }

.informaion-light button {
  display: block;
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 9999; }

.manufacture-card-block,
.balance-card-block {
  display: flex;
  justify-content: space-between; }

.manufacture-card-column {
  border: 1px solid gray;
  width: 33%; }

.manufacture-column-title {
  display: flex;
  justify-content: space-between; }

.manufacture-nomenklature-card--muted {
  opacity: 0.4;
  background-color: lightgreen; }

.manufacture-nomenklature-card--muted::after {
  content: 'Добавлено'; }

#list-receipt select, #list-sale input[type="text"], #list-sale select, #list-inventory input[type="text"], #list-inventory select {
  height: 38px; }

#list-receipt input[type="text"] {
  height: 38px; }

#list-receipt table input[type="text"] {
  height: auto;
  border: none; }

#list-receipt table th, #list-sale table th, #list-inventory table th {
  text-align: center;
  vertical-align: middle; }

.operation-trade-marckup-orange {
  color: #ff9900; }

.otLeftColumn {
  overflow-y: auto;
  height: 600px; }

.otRightColumnInventory {
  overflow-y: auto;
  height: 695px; }

.otModalHeight {
  height: 93vh; }

.otModalWidth {
  max-width: 1000px; }

.operations-purchase-kontragents {
  width: 300px;
  margin-right: 50px; }

.operations-trade-delivery {
  min-width: 60px;
  height: 40px;
  background-image: url("/img/suppliers.png");
  background-color: #DFB939;
  background-position: left;
  background-size: 45px, 45px;
  background-repeat: no-repeat;
  border-radius: 5px; }

.operations-trade-delivery label {
  min-width: 60px;
  height: 40px;
  padding-left: 43px; }

.operations-trade-delivery label input {
  margin-bottom: 0px;
  margin-top: 13px; }

.otPrice {
  font-size: 60px;
  font-stretch: ultra-condensed; }

.otButtons {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover; }

.otBtnClear {
  background-image: url("/img/Cancel-96.png"); }

.otBtnBarcode {
  background-image: url("/img/Barcode-64.png");
  margin-bottom: 5px; }

.otBtnAddRow {
  background-image: url("/img/plus-math-50.png");
  width: 30px;
  height: 30px; }

.otBtnFind {
  background-image: url("/img/icons8-search-26.png"); }

.otBtnDiscount {
  background-image: url("/img/percent.png"); }

.balance-set-form {
  display: flex;
  justify-content: space-between; }

.balance-set-form div:first-child {
  width: 30%; }

.balance-set-form div:last-child {
  width: 60%; }

input[name="contact"]:checked + label {
  border: 1px solid black; }

.user-status {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 5px; }

.user-permissions-string {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray; }

.user-permissions-string > span {
  display: inline-block;
  width: 300px;
  margin-right: auto; }

.user-permissions-string > div {
  display: flex;
  justify-content: space-between;
  width: 50px;
  text-align: left; }

.user-permissions-switch {
  width: 15px;
  height: 15px;
  margin-left: 5px; }

.user-permissions-stock {
  display: inline-block;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: #17a2b8;
  color: #fff;
  opacity: 1; }

.alldocs-year {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid gray; }

.alldocs-year-column {
  width: 30%;
  align-items: center;
  justify-content: flex-end;
  display: flex; }

.alldocs-year-column:first-child {
  width: 30%;
  justify-content: flex-start; }

.alldocs-year-column img {
  width: 44px;
  height: 44px;
  padding-right: 5px; }

.catalog-header h2 {
  margin-left: 5px; }

.catalog-header-title {
  display: flex; }

.catalog-groups-header {
  display: flex;
  justify-content: space-between;
  height: 30px; }

.catalog-groups-column {
  width: auto;
  width: 20%;
  border: 1px solid gray;
  margin-left: -1px;
  padding: 2px; }

.catalog-groups-header:first-child {
  font-weight: 700;
  background-color: #ccc; }

.catalog-groups-header:hover {
  background-color: #ccc; }

.catalog-groups-column:nth-child(1) {
  width: 10%; }

.catalog-groups-column:nth-child(2) {
  width: 70%; }

.catalog-groups-column:nth-child(4) button {
  width: 24px;
  height: 24px; }

.catalog-groups-column:nth-child(5) {
  width: 10%;
  padding: 0;
  text-align: center; }

.catalog-groups-column button {
  background-color: #fff;
  padding: 0; }

.reference-header {
  display: flex;
  justify-content: space-between;
  margin: 0; }

.reference-header:first-child {
  outline: 1px solid black;
  margin-right: 1px;
  background-color: #ccc;
  font-weight: 700; }

.reference-header:hover {
  background-color: #ccc; }

.reference-column {
  width: auto;
  border: 1px solid gray;
  margin-left: -1px;
  padding: 2px; }

.reference-column:nth-child(1) {
  width: 10%;
  display: flex;
  justify-content: center; }

.reference-column:nth-child(1) img {
  height: 24px;
  width: 24px; }

.reference-column:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 95%; }

.reference-column:nth-child(3) {
  display: flex;
  justify-content: center;
  min-width: 15%; }

.reference-column:nth-child(4) {
  display: flex;
  justify-content: center;
  min-width: 7%; }

#list-reports-body h4 {
  margin-top: 30px;
  margin-bottom: 10px; }

.reports-dashboard {
  display: flex;
  justify-content: space-between; }

.dashboard-item {
  display: flex;
  border: 1px solid gray;
  width: 18%; }

.dashboard-status {
  height: 32px;
  width: 32px;
  background-color: #28a745;
  border-radius: 50%;
  margin: 15px; }

.goods-left-setup-string {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-left: 34px;
  margin-right: 50px; }

.goods-left-setup-string > span {
  display: inline-block;
  width: 300px;
  margin-right: auto; }

/*
.goods-left-setup-string > div {
  display: flex;
  justify-content: space-between;
  width: 50px;
  text-align: left;
}
*/
.report-goods-left-modal-footer {
  display: flex;
  justify-content: space-between; }

#report-goods-left-modal-setup {
  padding-left: 20px;
  padding-right: 10px; }

.report-setup-header {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 60px; }

.report-calendar {
  margin-left: 34px;
  margin-right: 50px;
  margin-bottom: 10px; }

.search-container {
  display: flex;
  align-items: center; }

input[type="date"] {
  position: relative;
  margin-right: 30px;
  background-image: url("../img/calendar-icon.png");
  background-size: 20px 20px;
  background-position: right;
  background-repeat: no-repeat; }

.online-user > img {
  height: 24px;
  width: 24px; }

a.disabled img {
  opacity: 0.4; }

/*
@import "src/sass/components/app.scss";
@import "src/sass/components/font.scss";
body {
  font-family: "HelveticaNeue";
  font-size: 1rem;
}
*/
